<div class="edit-court-container">
    @if (isLoading) {
    <app-loader />
    } @else {
    <h1 class="text-[#339999] uppercase tracking-wide">Edit Court</h1>
    <form #editForm="ngForm" (ngSubmit)="editCourt()">
        <div class="form-group">
            <label for="name">Court Name</label>
            <input type="text" id="name" name="name" [(ngModel)]="court.name" #inputName="ngModel" placeholder="Enter court name"
                required minlength="3" />
            @if (inputName?.touched) {
            <div>
                @if (inputName?.errors?.['required']) {
                <div class="error">Court name is required!</div>
                }
                @if (inputName?.errors?.['minlength']) {
                <div class="error">Court name must be at least 3 characters!</div>
                }
            </div>
            }
        </div>

        <div class="form-group">
            <label for="symbol">Sport</label>
            <input type="text" id="symbol" name="symbol" [(ngModel)]="court.symbol" #inputSymbol="ngModel"
                placeholder="Enter court symbol" required minlength="2" />
            @if (inputSymbol?.touched) {
            <div>
                @if (inputSymbol?.errors?.['required']) {
                <div class="error">Court symbol is required!</div>
                }
                @if (inputSymbol?.errors?.['minlength']) {
                <div class="error">Court symbol must be at least 2 characters!</div>
                }
            </div>
            }
        </div>

        <div class="form-group">
            <label for="currentPrice">Current Price</label>
            <input type="number" id="currentPrice" name="currentPrice" [(ngModel)]="court.currentPrice" #inputPrice="ngModel"
                placeholder="Enter current price" required min="0.01" />
            @if (inputPrice?.touched) {
            <div>
                @if (inputPrice?.errors?.['required']) {
                <div class="error">Court price is required!</div>
                }
                @if (inputPrice?.errors?.['min']) {
                <div class="error">Court price must cost at least 0.01</div>
                }
            </div>
            }
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" [(ngModel)]="court.description" #inputDescription="ngModel"
                placeholder="Enter a description" rows="4" required minlength="10"></textarea>
            @if (inputDescription?.touched) {
            <div>
                @if (inputDescription?.errors?.['required']) {
                <div class="error">Court description is required!</div>
                }
                @if (inputDescription?.errors?.['minlength']) {
                <div class="error">Description must be at least 10 characters!</div>
                }
            </div>
            }
        </div>

        <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" id="imageUrl" name="imageUrl" [(ngModel)]="court.imageUrl" #inputImageUrl="ngModel"
                placeholder="Enter an image URL" required />
            @if (inputImageUrl?.touched) {
            <div>
                @if (inputImageUrl?.errors?.['required']) {
                    <div class="error">Court URL is required!</div>
                }
            </div>
            }
        </div>

        <div class="button-group">
            <button class="border-2 border-black text-black font-medium rounded-[20px] hover:bg-black hover:text-white transition duration-300" [disabled]="editForm.invalid">Save</button>
            <button type="button" style="background-color: #339999;" class="text-white font-medium rounded-[20px] shadow-md hover:bg-black transition-colors duration-300" (click)="onCancel($event)">Cancel</button>
        </div>
    </form>
    }
</div>