<section class="py-16">
    <div class="container mx-auto px-8">
        <div class="text-center">
            <h2 class="text-5xl font-extrabold text-gray-900 tracking-tight">
                Racket Sports
            </h2>
            <ul class="mt-6 text-xl text-gray-600 leading-relaxed max-w-3xl mx-auto">
                <li>Badminton</li>
                <li>Rackets</li>
                <li>Racquetball</li>
               
                <li>Squash</li>
                <li>Hardball squash</li>
                <li>Squash tennis</li>
                
                <li>Tennis</li>
                
                <li>Touchtennis</li>
                <li>Table tennis</li>
            </ul>
        </div>
    </div>
</section>
