<div class="container mx-auto p-6 font-sans max-w-5xl">
    @if (isLoading) {
    <app-loader />
    } @else {
    <div class="flex gap-6 h-full max-h-[70vh]">
        <!-- Left Section: Court Details -->
        <div class="w-1/2 bg-white/70 backdrop-blur-sm shadow-lg rounded-xl border border-gray-200 p-6 overflow-auto">
            <!-- Left: Image -->
            <div class="mb-6 max-w-[80%] mx-auto">
                <img src="{{court?.imageUrl}}" alt="Court Image" class="w-full h-auto rounded-lg shadow">
            </div>
            <!-- Right: Content -->
            <div>
                <!-- Name, Symbol, and Price -->
                <div class="mb-4">
                    <h1 class="text-3xl font-semibold text-gray-800 mb-2">{{court?.name}}</h1>
                    <p class="text-sm text-gray-500 uppercase mb-2">Sport: {{court?.symbol}}</p>
                    <p class="text-2xl font-bold text-green-500">${{court?.currentPrice}}</p>
                </div>
                <!-- Description -->
                <p class="text-gray-600 text-sm mb-6">{{court?.description}}</p>
                <!-- Buttons -->
                @if (isOwner) {
                    <div class="button-container">
                        <button class="edit" [routerLink]="['/courts', court?._id, 'edit']">Edit</button>
                        <button class="delete" (click)="deleteCourt()">Delete</button>
                    </div>
                }
            </div>
        </div>

        <!-- Right Section: Comments -->
        <div class="w-1/2 bg-white/70 backdrop-blur-sm rounded-xl shadow-lg border border-gray-200 p-6 overflow-auto">
            <h2 class="text-xl font-semibold text-[#339999] uppercase tracking-wide mb-4">Comments</h2>
            <div class="comments-section space-y-6">
                <!-- Single Comment -->
                @for (comment of court?.comments; track $index) {
                <div class="bg-white p-4 rounded-lg border border-gray-200 shadow-sm">
                    <div class="flex justify-between items-center">
                        <p class="text-gray-700 text-sm"><span class="font-bold">{{comment?.user?.username}}</span>
                            {{comment?.text}}
                        </p>
                        <p class="text-xs text-gray-400">Posted on: {{comment?.createdAt | date}}</p>
                    </div>
                </div>
                }
                <!-- Add Comment -->
                @if (currentUser && !isOwner) {
                <form>
                    <textarea #inputText class="w-full p-4 rounded-lg border border-gray-300 focus:ring focus:ring-blue-300 text-sm"
                        rows="4" placeholder="Write a comment..."></textarea>
                    <button (click)="addComment(inputText)" type="button"
                        class="mt-4 bg-green-500 text-white text-sm font-medium py-2 px-4 rounded-lg hover:bg-green-400">
                        Add Comment
                    </button>
                </form>
                }
            </div>
        </div>
    </div>
    }
</div>