<section class="py-16">
    <div class="container mx-auto px-8">
        <div class="text-center">
            <h2 class="text-5xl font-extrabold text-gray-900 tracking-tight">
                History of Squash
            </h2>
            <p class="mt-6 text-xl text-gray-600 leading-relaxed max-w-3xl mx-auto">
                Squash has its origins in the older game of rackets, which was played in London's prisons in the 19th century. Later, around 1830, boys at Harrow School noticed that a punctured ball, which "squashed" on impact with the wall, offered more variety to the game. The game spread to other schools. The first courts built at Harrow were dangerous because they were near water pipes, buttresses, chimneys, and ledges. Natural rubber was the preferred material for the ball. Students modified their rackets to have a smaller reach and improve their ability to play in these cramped conditions.[3] In 1864, the school built four outside courts.[4]
            </p>
            
        </div>
    </div>
</section>
