<div class="container mx-auto p-6">
    <form class="bg-white/70 backdrop-blur-sm rounded-[30px] shadow-md p-4 space-y-3 max-w-[320px] mx-auto" #form="ngForm" (ngSubmit)="search(form)">
        <h2 class="text-2xl font-bold text-center mb-2 text-[#339999] uppercase tracking-wide">Search Courts</h2>

        <div class="flex flex-col space-y-1.5 max-w-[200px] mx-auto">
            <label for="search" class="text-base">Name</label>
            <input type="text" id="search" name="name" placeholder="Enter court name"
                class="w-full px-4 py-1.5 border border-gray-300 rounded-[20px] shadow-sm bg-white/70 backdrop-blur-sm focus:outline-none focus:ring-2 focus:ring-[#339999] focus:border-[#339999]"
                ngModel #inputName="ngModel" />
        </div>

        <div class="flex flex-col space-y-1.5 max-w-[200px] mx-auto">
            <label for="search" class="text-base font-medium text-gray-700">Sport</label>
            <input type="text" id="search" name="symbol" placeholder="Enter court symbol"
                class="w-full px-4 py-1.5 border border-gray-300 rounded-[20px] shadow-sm bg-white/70 backdrop-blur-sm focus:outline-none focus:ring-2 focus:ring-[#339999] focus:border-[#339999]"
                ngModel #inputSymbol="ngModel" />
        </div>

        <div class="flex justify-center">
            <button type="submit" style="background-color: #339999;" 
                class="px-5 py-2 text-white font-medium rounded-[25px] shadow-md hover:shadow-lg hover:opacity-90 transition duration-300">Search</button>
        </div>
    </form>

    @if (isLoading) {
    <div class="mt-4 text-center">
        <app-loader />
    </div>
    }

    @if (courts.length > 0) {
    <div class="mt-6 bg-white/70 backdrop-blur-sm rounded-[30px] shadow-md p-6 space-y-4">
        <h3 class="text-xl font-bold text-center text-[#339999] uppercase tracking-wide">Search Results</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            @for (court of courts | courtFilter:searchName:searchSymbol; track $index) {
            <div
                class="bg-white/80 rounded-[25px] shadow-lg shadow-gray-800/30 p-4 transition-transform transform hover:scale-105 max-w-[250px] mx-auto">
                <div class="flex items-center space-x-5">
                    <img src="{{court.imageUrl}}" alt="{{court.name}}" class="w-14 h-14 rounded-full object-cover" />
                    <div>
                        <h2 class="text-lg font-semibold">{{court.name}} ({{court.symbol}})</h2>
                    </div>
                </div>
                <div class="flex justify-center mt-3">
                    <button [routerLink]="['/courts', court._id, 'details']"
                        class="px-4 py-2 bg-[#339999] text-white rounded-[20px] shadow-md hover:shadow-lg hover:opacity-90 transition duration-300">
                        Details
                    </button>
                </div>
            </div>
            }
        </div>
    </div>
    }

    @if (!courts.length && !isLoading) {
    <div class="flex justify-center items-center h-40 text-center text-gray-500">
        <p class="text-xl font-bold">
            No courts found. Try searching with different criteria or add new ones to the catalog.
        </p>
    </div>
    }
</div>